{% extends 'base.html.twig' %}

{% block title %}Hello AcceuilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>A Propos </h1>

{#    article>h2{Titre de l'article}+div.metadata{ecrit le 10/05/2023 a 15h25 dans la catégorie Politique}+div.content>img+(p>lorem15)*2+a.btn.btn-primary{lire la suite}#}
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">ecrit le 10/05/2023 a 15h25 dans la catégorie Politique</div>
        <div class="content"><img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At error excepturi pariatur similique. Ad,
                vitae.</p>
            <p>Accusantium alias amet atque commodi deserunt doloremque, ducimus impedit laborum neque, quibusdam quo
                saepe voluptas?</p><a href="{{ path('blog_show') }}" class="btn btn-primary">lire la suite</a></div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">ecrit le 10/05/2023 a 15h25 dans la catégorie Politique</div>
        <div class="content"><img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi doloremque in neque odit
                sapiente?</p>
            <p>Animi distinctio ipsa porro qui reprehenderit! Ex facere nulla repellat. Ab impedit similique tenetur
                unde!</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">lire la suite</a></div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">ecrit le 10/05/2023 a 15h25 dans la catégorie Politique</div>
        <div class="content"><img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nobis reiciendis repudiandae sequi ullam,
                voluptatem.</p>
            <p>A aliquam asperiores esse hic, illo quos veritatis? A adipisci beatae dicta quia sint voluptatem?</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">lire la suite</a></div>
    </article>
</div>
{% endblock %}
