{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">ecrit le 10/05/2023 a 15h25 dans la catégorie Politique</div>
        <div class="content"><img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nobis reiciendis repudiandae sequi ullam,
                voluptatem.</p>
            <p>A aliquam asperiores esse hic, illo quos veritatis? A adipisci beatae dicta quia sint voluptatem?</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita fuga laboriosam nobis. Adipisci
                aperiam atque, autem consequatur culpa deserunt doloremque earum eveniet ex expedita labore magni non
                nulla pariatur perspiciatis praesentium quibusdam reiciendis repellendus sapiente sed tempora vitae,
                voluptate. Asperiores beatae exercitationem expedita itaque odio omnis quam quis, ratione ut.</p>
            <p>Doloribus itaque laboriosam magnam molestiae odit provident quo repellendus soluta totam vitae. Earum
                illum iusto molestiae repudiandae! Accusantium alias aliquid animi at dolorem ea error eveniet, fuga
                iste iusto molestiae necessitatibus, nihil nisi, non officia perferendis perspiciatis placeat quae quia
                recusandae repudiandae tempora totam veniam voluptas voluptates! Cupiditate, obcaecati, rem?</p>
        </div>
    </article>

{% endblock %}